name: 'DevSecOps CI/CD Pipeline (Terraform Cloud)'

on:
  pull_request:

permissions:
  contents: read

jobs:
  initialization:
    name: initialization
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }} # Notice indentation!

    env:            
      AWS_REGION: ${{ github.ref == 'refs/heads/main' && 'ap-southeast-1' || 'ap-northeast-1' }}
  
    defaults: 
      run:
        shell: bash

    steps:
    - name: Check out repository code
      uses: actions/checkout@v3
    - name: Clear Terraform Cache 
      run: rm -rf .terraform 

  snyk-test:
    runs-on: ubuntu-latest
    needs: initialization
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install snyk
        run : npm install -g snyk
      - name: Snyk Code test(SAST)
        run: snyk code test --severity-threshold=high || true
        env:
          SNYK_TOKEN: '${{ secrets.SNYK_TOKEN }}'
#      - name: Snyk Open Source test and monitor(SCA)
#        run: |
#          snyk test --severity-threshold=high || true
#          snyk monitor --severity-threshold=high || true
#        env:
#          SNYK_TOKEN: '${{ secrets.SNYK_TOKEN }}'
      - name: Snyk IaC test and report
        run: snyk iac test --report --severity-threshold=high || true 
        env:
          SNYK_TOKEN: '${{ secrets.SNYK_TOKEN }}'